* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

header {
  border-bottom: 3px solid black;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5% 0 5%;
}

.menu img {
  width: 40%;
}

.menu .menuList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu li {
  list-style: none;
  display: flex;
}

.menu .menuList li a {
  padding: 0 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: full-width;
  font-size: larger;
}

.menu .menuList a:hover {
  color: firebrick;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.background_main {
  position: relative;
}

.background_main img {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.background_main h1 {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 40%;
  margin-left: 1.9em;
  position: absolute;
  top: 40%;
}

.background_main p {
  font-size: 1rem;
  font-weight: normal;
  color: white;
  margin-left: 4em;
  position: absolute;
  top: 46%;
}

.background_main a {
  font-size: 1rem;
  font-weight: normal;
  color: white;
  margin-left: 4em;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 56%;
}

.btn_main1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid firebrick;
  background-color: firebrick;
  border-radius: 30px;
  width: 8em;
  height: 3em;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.btn_main1:hover {
  background-color: white;
  color: firebrick;
  transform: rotate(360deg);
}

.presentation1 {
  margin: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.presentation1 img {
  width: 45%;
}

.text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 45%;
}

.text1 h2 {
  font-size: xx-large;
  font-weight: bold;
}

.text1 p {
  font-size: larger;
  font-weight: normal;
}

.line {
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
  width: 50em;
  flex-wrap: wrap;
}

.presentation2 {
  margin: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.presentation2 img {
  width: 45%;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 45%;
}

.text2 h2 {
  font-size: xx-large;
  font-weight: bold;
}

.text2 p {
  font-size: larger;
  font-weight: normal;
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.btn_main2 {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid firebrick;
  background-color: firebrick;
  border-radius: 30px;
  width: 10em;
  height: 3em;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.btn_main2:hover {
  background-color: white;
  color: firebrick;
  transform: rotate(360deg);
}

.main {
  margin-top: 1em;
  margin-bottom: 7.6em;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.box_login {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 350px;
  height: 400px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  box-shadow: 5px 5px 60px black;
}

.connexion {
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
}

.box_login input {
  background-color: transparent;
  width: 300px;
  height: 15px;
  margin: 15px 10px;
  padding: 5px 0 5px 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}

.box_login input:focus{
  outline: none;
}

.btn-iden {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 50px;
  width: 300px;
  height: 40px;
  border-radius: 10px;cursor: pointer;
  transition: background-color 1s;
}

.btn-iden:hover {
  background-color: firebrick;
}

.btn-inscri {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 50px;
  width: 300px;
  height: 40px;
  border-radius: 10px;cursor: pointer;
  transition: background-color 1s;
}

.btn-inscri:hover {
  background-color: firebrick;
}

.box_form {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 350px;
  height: 650px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  box-shadow: 5px 5px 60px black;
}

.box_form input {
  background-color: transparent;
  width: 300px;
  height: 15px;
  margin: 15px 10px;
  padding: 5px 0 5px 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}

.box_form input:focus{
  outline: none;
}

.form {
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
}

.inscri {
  margin-top: 1em;
}

.middle {
  text-align: center;
  margin-top: 1em;
}

.center {
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box_annonce {
  border: 2px solid black;
  border-radius: 10px;
  width: 600px;
  padding: 30px;
  margin-bottom: 1em;
  box-shadow: 3px 3px 3px darkgrey;
}

.href {
  margin-top: 2em;
}

.href a {
  text-decoration: none;
  font-weight: bold;
  text-transform: full-width;
  font-size: larger;
  color: black;
  transition: color 0.5s;
}

.href a:hover {
  color: firebrick;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
  text-align: center;
}

.foot h2 a {
  color: white;
  font-size: larger;
  text-decoration: none;
}

.foot p a {
  color: darkgrey;
  font-size: medium;
  text-decoration: none;
}

.nav {
  margin-top: 1em;
  text-align: center;
  list-style-type: none;
}

.nav li a {
  text-decoration: none;
  color: darkgrey;
}

.nav li a:hover {
  color: firebrick;
}

.nav li:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

.feet {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.fb:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

.ig:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

.tw:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

@media screen and (max-width: 320px) {
  .background_main {
    background-image: url("../../assets/img/Motoccaz-Background.png");
    clip: rect(0, 20px, 0, 20px);
    position: absolute;
  }
}

/*# sourceMappingURL=style.css.map */
